.options {
    width: 500px;
    text-align: center;
}

.main {
    position: relative;
    width: 500px;
}

.nav-tabs li {
    position: relative;
}

.nav-tabs li a {
    padding-right: 25px;
}

.nav-tabs .label {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group {
    overflow: auto;
    max-height: 500px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:first-child {
    border-top: none;
}

.list-group-item-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.issue-detail {
    width: 500px;
    padding: 10px;
    background: #fff;
}

.issue-detail .title {
    padding-right: 15px;
}

.issue-detail .item {
    width: 240px;
    float: left;
}

.issue-detail img {
    max-width: 100%;
}

/* history */
.issue-detail .journal {
    clear: left;
    border-bottom: 1px solid #eee;
}

.issue-detail .journal:last-child {
    border-bottom: none;
}

.issue-detail .journal-link {
    float: right;
}

.issue-detail img.gravatar {
    padding: 2px;
    border: solid 1px #d5d5d5;
    background: #fff;
}

.issue-detail h3 {
    font-size: 14px;
    font-weight: bold;
}

.issue-detail h4 {
    font-size: 14px;
}