pre {
    position: relative;
}

.plugin-toggle {
    position: absolute;
    right: 5px;
    margin-top: -5px;
}

.plugin-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    border: 1px solid #90AECB;
    border-radius: 5px;
    padding: 5px;
}

.plugin-zclip {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border-left: 1px solid #e1e1e8;
    border-bottom: 1px solid #e1e1e8;
    border-radius: 0 0 0 4px;
}

.plugin-zclip.hover {
    background-color: #cdcdcd;
    border-color: #cdcdcd;

}

.plugin-zclip.active {
    background-color: #787878;
    border-color: #787878;

}
