body {
	font-size: 14px;
	background-color: #e7ebd1;
}

.top_bg {
	height: 220px;
	background: url(../images/top_bg.jpg) no-repeat center 0;
}

.top {
	position: relative;
	height: 100px;
	margin-top: -100px;
	overflow: hidden;
	background: url(../images/top_bottom.png) no-repeat 0 bottom;
}

.main {
	width: 900px;
	padding: 40px 50px 50px;
	background: url(../images/middle.png);
}

.list_header {
	margin-top: 40px;
	border-top: 1px solid #EEE;
}

.bottom {
	height: 100px;
	overflow: hidden;
	background: url(../images/top_bottom.png) no-repeat -1000px 0;
}

footer {
	padding: 0;
	text-align: center;
	color: #999;
	margin-top: 20px;
	border-top: dotted 1px #999;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 600px;
	margin: 0 auto 20px;
}

.modal {
	width: 320px;
	margin-left: -160px;
}

.show {
	width: 400px;
}

ul.nav li, .tline {
	border-top: #eee solid 1px;
}

ul li a {
	color: #000;
}

.issue_list select {
	margin: 5px 15px;
	width: 200px;
}

img.back {
	position: absolute;
	cursor: pointer;
	right: 8px;
	top: 8px;
}

.issue_detail h4 {
	width: 340px;
}

.ditem {
	width: 180px;
	float: left;
}

.history h3 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.history h4 {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.journal-link {
	float: left;
	margin-right: 5px;
}