.jstEditor {
    padding-left: 0px;
}
.jstEditor textarea, .jstEditor iframe {
    margin: 0;
}

.jstHandle {
    height: 10px;
    font-size: 0.1em;
    cursor: s-resize;
    /*background: transparent url(img/resizer.png) no-repeat 45% 50%;*/
}

.jstElements {
    padding: 3px 3px 3px 0;
}

.jstElements button {
    margin-right: 4px;
    width : 24px;
    height: 24px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color : #f7f7f7;
    background-position : 50% 50%;
    background-repeat: no-repeat;
}
.jstElements button:hover {
    border-color: #bbb;
  background-color: #e5e5e5;
}
.jstElements button span {
    display : none;
}
.jstElements span {
    display : inline;
}

.jstSpacer {
    width : 0px;
    font-size: 1px;
    margin-right: 6px;
}

.jstElements .help { float: right; margin-right: 0.5em; padding-top: 8px; font-size: 0.9em; }
.jstElements .help a {padding: 2px 0 2px 20px; background: url(img/help.png) no-repeat 0 50%;}

/* Buttons
-------------------------------------------------------- */
.jstb_strong {
    background-image: url(img/bt_strong.png);
}
.jstb_em {
    background-image: url(img/bt_em.png);
}
.jstb_ins {
    background-image: url(img/bt_ins.png);
}
.jstb_del {
    background-image: url(img/bt_del.png);
}
.jstb_code {
    background-image: url(img/bt_code.png);
}
.jstb_h1 {
    background-image: url(img/bt_h1.png);
}
.jstb_h2 {
    background-image: url(img/bt_h2.png);
}
.jstb_h3 {
    background-image: url(img/bt_h3.png);
}
.jstb_ul {
    background-image: url(img/bt_ul.png);
}
.jstb_ol {
    background-image: url(img/bt_ol.png);
}
.jstb_bq {
    background-image: url(img/bt_bq.png);
}
.jstb_unbq {
    background-image: url(img/bt_bq_remove.png);
}
.jstb_pre {
    background-image: url(img/bt_pre.png);
}
.jstb_link {
    background-image: url(img/bt_link.png);
}
.jstb_img {
    background-image: url(img/bt_img.png);
}
.jstb_help {
    background-image: url(img/help.png);
}
